.Contenedor{


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;

}

.box{
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    color: white;
    padding: 10px;
    color: black;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    -webkit-box-shadow: 10px 10px 31px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px 3px rgba(0,0,0,0.75);
    word-break: break-all;
    background: #29A19C;
    overflow: hidden;
}


.texto{
    color: white;
    text-decoration: none;
    text-decoration: underline;
}

.box:hover{
    background: #52DE97;
}

.box:active{
    background: #c0ffb3;
}

a{
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein{
    from{
        margin-left: 100%;

        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

.titulos1{
    color: white;
    text-decoration: none;
    text-decoration: underline;
    text-align: center;
}

.imagen{
    overflow: hidden;
}

.imagen{
    background:#c0ffb3;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
}

.subtitulo{
    color: white;
    text-decoration: none;
    text-align: left;
}